---
---

<div class="grid justify-center items-start gap-10 lg:grid-cols-[220px_minmax(0,960px)_220px] md:grid-cols-[200px_minmax(0,1fr)_200px] md:gap-8 sm:grid-cols-[160px_minmax(0,1fr)_160px] sm:gap-6 max-lg:block">
  <aside class="sticky top-8 self-start max-lg:hidden">
    <slot name="left" />
  </aside>
  <div class="min-w-0">
    <slot />
  </div>
  <aside class="sticky top-8 self-start max-lg:hidden">
    <slot name="right" />
  </aside>
</div>
